<footer>
    <div class="container">
        <p>&copy; 2025 LH Coffee. All rights reserved.</p>
    </div>
</footer>

<section class="footer">
  <div class="share">
    <a href="http://" class="fab fa-facebook"></a>
    <a href="http://" class="fab fa-twitter"></a>
    <a href="http://" class="fab fa-instagram"></a>
    <a href="http://" class="fab fa-youtube"></a>
  </div>
  <div class="links">
    <a href="index.html#home" data-i18n="home">Trang chủ</a>
    <a href="index.html#about" data-i18n="about">Giới thiệu</a>
    <a href="index.html#menu" data-i18n="menu">Thực đơn</a>
    <a href="index.html#products" data-i18n="products">Sản phẩm</a>
    <a href="index.html#review" data-i18n="review">Đánh giá</a>
    <a href="index.html#contact" data-i18n="contact">Liên hệ</a>
    <a href="index.html#blogs" data-i18n="blog">Blog</a>
  </div>
  <p class="copyright">&copy; 2025 LH Coffee. All rights reserved.</p>
</section>

</body>
</html>
